<h2>Gestion des Crédits</h2>
<p-fieldset>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="font-bold text-lg">Liste des demandes</span>
        </div>
    </ng-template>

    <div class="col-12">
        <div class="field col-12 md:col-12" *ngIf="listeDemandes.length > 0; else noDemandes">
           <div><button pButton pRipple type="button" label="Ajouter une demande" (click)="navigateToComponent('create',1)"
										class="p-button-rounded p-button-success"></button>
                                        <hr>
                                    </div> 

            <p-table  [value]="listeDemandes" [rowHover]="true" styleClass="p-datatable-gridlines"
                responsiveLayout="scroll">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 2rem">
                            <div class="flex justify-content-between align-items-center">
                                Num
                            </div>
                        </th>
                        <th style="min-width: 7rem">
                            <div class="flex justify-content-between align-items-center">
                                Id Demande
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Nom Client
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Type Crédit
                            </div>
                        </th>
                        <th style="min-width: 7rem">
                            <div class="flex justify-content-between align-items-center">
                                Etat
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-content-between align-items-center">
                                Date Demande
                            </div>
                        </th>
                        <th style="min-width: 5rem">
                            <div class="flex justify-content-between align-items-center">
                                Actions

                            </div>
                        </th>

                    </tr>

                </ng-template>

                <ng-template pTemplate="body" let-demande let-index="rowIndex">
                    <tr>
                        <td>{{index+1}}</td>
                        <td>{{ demande.idDemande }}</td>
                        <td>{{ demande.nom }}</td>
                        <td>{{ demande.type}}</td>
                        <td>{{demande.etatDemande}}</td>
                        <td>{{ demande.dateCre | date:'dd-MM-yyyy' }}</td>

                        <td>
                            <p-button icon="pi pi-search" [rounded]="true" severity="info"
                            (onClick)="navigateToComponent('consult',demande.idDemande)" /> &nbsp;
                            <p-button icon="pi pi-pencil" [rounded]="true" severity="secondary"
									(onClick)="navigateToComponent('edit',demande.idDemande)" />&nbsp;
                         <p-button icon=" pi pi-check" [rounded]="true" severity="success"
                                (onClick)="valider(demande.idDemande)" /> &nbsp;
                            <p-button icon="pi pi-times" [rounded]="true" severity="danger"
                                (onClick)="rejeter(demande.idDemande)" /> 
                                
                        </td>
                    </tr>
                </ng-template>


            </p-table>
        </div>
        <ng-template #noDemandes>
            <p>Aucune demande trouvée.</p>
          </ng-template>
    </div>
</p-fieldset>

