<form [formGroup]="CredForm" class="grid">
	<h2>Demande de Crédit</h2>

	<div *ngIf="flag === 'create'">
		<p>creation de Credit </p>
	</div>
	<div *ngIf="flag === 'consult'">
		<p>consultation de Credit </p>
	</div>
	<div *ngIf="flag === 'consult'">
		<p>modification de Credit </p>
	</div>
	
	<!-- <div *ngIf="!flag">
		<p>no flag</p>
	</div> -->


	<p-fieldset>
		<ng-template pTemplate="header">
			<div class="flex align-items-center text-primary">
				<span class="pi pi-user mr-2"></span>
				<span class="font-bold text-lg">Informations Client</span>
			</div>
		</ng-template>

		<div class="col-12">

			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-4">
					<label htmlFor="CIN">CIN</label>
					<input (input)="onCinChange()" pInputText id="CIN" type="number" formControlName="cin" required />
					<div *ngIf="CredForm.get('cin') === null" class="text-danger">
						Le champ CIN est obligatoire.
					  </div>
					  <div *ngIf="CredForm.get('cin')?.hasError('pattern')" class="text-danger">
						Le champ CIN doit être composé de 8 chiffres.
					  </div>
				</div>
				<div class="field col-12 md:col-4">
					<label htmlFor="Nom">Nom</label>
					<input pInputText id="Nom" type="text" formControlName="nom" />
				</div>
				<div class="field col-12 md:col-4">
					<label htmlFor="Prenom">Prénom</label>
					<input pInputText id="Prenom" type="text" formControlName="prenom" />
				</div>
				<div class="field col-12 md:col-4">
					<label htmlFor="NumCompte">Numero du Compte</label>
					<p-dropdown [options]="NumeroDropdownItems" optionLabel="name" optionValue="value" placeholder="Choisir" 
                         formControlName="numCompte" [autoDisplayFirst]="false"></p-dropdown>
                   <div *ngIf="CredForm.get('numCompte')?.invalid && CredForm.get('numCompte')?.touched" class="error-message">
                        Champ numCompte. Veuillez choisir une option.
                    </div>
				</div>
				<div class="field col-12 md:col-3">
					<label for="Devise">Devise</label>
					<p-dropdown [options]="deviseDropdownItems" optionLabel="name" placeholder="Choisir" optionValue="value"
				formControlName="devise" [autoDisplayFirst]="false"></p-dropdown>
				</div>
				<div class="field col-12 md:col-5">
					<label htmlFor="DateOuverture">Date d'Ouverture</label>
					<p-calendar formControlName="dateOuverture" dateFormat="d/m/y"></p-calendar>
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="DateNaissance">Date de Naissance</label>
					<p-calendar formControlName="dateNaissance" dateFormat="d/m/y"></p-calendar>
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="SituationFamiliale">Situation Familiale</label>
					<p-dropdown [options]="situationFamilialeDropdownItems" optionLabel="name" placeholder="Choisir" optionValue="value"
				formControlName="situationFamiliale" [autoDisplayFirst]="false"></p-dropdown>
				</div>

			</div>

		</div>
	</p-fieldset>

	<p-fieldset>
		<ng-template pTemplate="header">
			<div class="flex align-items-center text-primary">
				<span class="font-bold text-lg">Dossier Crédit</span>
			</div>
		</ng-template>

		<div class="col-12">

			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
					<label htmlFor="TypeCredit">Type Crédit</label>
					<p-dropdown [options]="typeCreditDropdownItems" optionLabel="name" optionValue="value" placeholder="Choisir"
						formControlName="type" (onChange)="updatePieceJointe()"></p-dropdown>
						<div *ngIf="CredForm.get('type')?.invalid && CredForm.get('type')?.touched" class="error-message">
							Champ numCompte. Veuillez choisir une option.
						</div>
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="Montant">Montant</label>
					<input pInputText id="Montant" type="number" formControlName="montant" required />
					<div *ngIf="CredForm.get('montant')?.invalid && CredForm.get('montant')?.touched" class="text-danger">
						Le montant doit être positif.
					  </div>
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="Unite">Unité</label>
					<p-dropdown [options]="uniteDropdownItems"  optionLabel="name" optionValue="value"  placeholder="Choisir"
						formControlName="unite" [showClear]="true" (onChange)="calculateNbrEcheance()"></p-dropdown>
						<div *ngIf="CredForm.get('unite')?.invalid && CredForm.get('unite')?.touched" class="error-message">
							Champ unite. Veuillez choisir une option.
						</div>
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="NbrEcheance">Nombre Echéance</label>
					<input pInputText id="NbrEcheance" type="number" formControlName="nbrEcheance" />
				</div>


			</div>

		</div>
	</p-fieldset>



	<p-fieldset>
		<ng-template pTemplate="header">
			<div class="flex align-items-center text-primary">
				<span class="font-bold text-lg">Garanties Proposées</span>
			</div>
		</ng-template>

		<div class="col-12">
			<div class="field col-12 md:col-12">

				<p-table [value]="listeGaranties" [rowHover]="true" styleClass="p-datatable-gridlines"
					responsiveLayout="scroll">

					<ng-template pTemplate="header">
						<tr>
							<th style="min-width: 3rem">
								<div class="flex justify-content-between align-items-center">
									Indice
								</div>
							</th>
							<th style="min-width: 10rem">
								<div class="flex justify-content-between align-items-center">
									Nature
								</div>
							</th>
							<th style="min-width: 10rem">
								<div class="flex justify-content-between align-items-center">
									Type
								</div>
							</th>
							<th style="min-width: 10rem">
								<div class="flex justify-content-between align-items-center">
									Valeur

								</div>
							</th>
							<th style="min-width: 10rem">
								<div class="flex justify-content-between align-items-center">
									Devise
								</div>
							</th>
							<th style="min-width: 9rem">
								<div class="flex justify-content-between align-items-center">
									Action
									<button pButton pRipple type="button" icon="pi pi-plus" (click)="showDialog()"
										class="p-button-rounded p-button-success"></button>

								</div>
							</th>

						</tr>

					</ng-template>

					<ng-template pTemplate="body" let-garantie let-index="rowIndex">
						<tr>
							<td>{{index+1}}</td>
							<td>{{ garantie.nature }}</td>
							<td>{{ garantie.type}}</td>
							<td>{{ garantie.valeur }}</td>
							<td>{{ garantie.devise }}</td>
							<td><p-button icon="pi pi-pencil" [rounded]="true" severity="secondary"
									(onClick)="modifierGarantie(index)" /> &nbsp;
								<p-button icon="pi pi-trash" [rounded]="true" severity="danger"
									(onClick)="supprimerGarantie(index)" />
							</td>
						</tr>
					</ng-template>


				</p-table>
			</div>
		</div>
	</p-fieldset>

	<p-fieldset>
		<ng-template pTemplate="header">
			<div class="flex align-items-center text-primary">
				<span class="font-bold text-lg">Pièces Jointes</span>
			</div>
		</ng-template>

		<div class="col-12">
			<div class="field col-12 md:col-12">

				<p-table  dataKey="id" [rowHover]="true" styleClass="p-datatable-gridlines"
					responsiveLayout="scroll">

					<ng-template pTemplate="header" let-statut>
						<tr>
							<th style="min-width: 13rem">
								<div class="flex justify-content-between align-items-center">
									Documents
								</div>
							</th>
							<th style="min-width: 13rem">
								<div class="flex justify-content-between align-items-center">
									Obligatoire
								</div>
							</th>
							<th style="min-width: 13rem">
								<div class="flex justify-content-between align-items-center">
									Statut

								</div>
							</th>
							<th style="min-width: 13rem">
								<div class="flex justify-content-between align-items-center">
									Importer

								</div>
							</th>


						</tr>
						<tr>
							<th>{{piece.doc1}}</th>
							<th>{{ piece.obligatoire1 }}</th>
							<th>{{ piece.statut1 }}</th>
							<th><p-fileUpload class=" mb-10 col-12 md:col-4" mode="basic" accept="image/*" [maxFileSize]="9999999"
								label="importer" chooseLabel="importer" class="mr-2 inline-block" 
								(onSelect)="onFile1Selected($event)"></p-fileUpload></th>

						</tr>
						<tr>
							<th>{{piece.doc2}}</th>
							<th>{{ piece.obligatoire2}}</th>
							<th>{{ piece.statut2 }}</th>
							<th><p-fileUpload class=" mb-10 col-12 md:col-4" mode="basic" accept="image/*" [maxFileSize]="9999999"
								label="importer" chooseLabel="importer" class="mr-2 inline-block" 
								(onSelect)="onFile2Selected($event)"></p-fileUpload></th>

						</tr>

					</ng-template>




				</p-table>
				<div class="col-12">
					<div class="flex flex-wrap gap-2">
						<div class="field col-12 md:col-4 "></div>
						

					</div>
				</div>



			</div>
		</div>
	</p-fieldset>

	<p-fieldset>

		<ng-template pTemplate="header">
			<div class="flex align-items-center text-primary ">
				<span class="font-bold text-lg">Observations</span>
			</div>
		</ng-template>

		<div class="col-12">
			<div class="field col-12 md:col-12 ">

				<textarea rows="5" cols="100" pInputTextarea formControlName="observations"></textarea>

			</div>
		</div>
	</p-fieldset>

	<div class="col-12">
		<div class="flex flex-wrap gap-2">
			<div class="field col-12 md:col-4 "></div>
			<div class="field col-12 md:col-2 ">
				<button pButton pRipple type="button" (click)="initialiser()" label="initialiser" class="p-button-raised"></button>
			</div>
			<div class="field col-12 md:col-2 ">

				<p-toast />
				<button pButton pRipple type="button" (click)="enregistrerDemande()" label="enregistrer"
					class="p-button-raised p-button-success">
				</button>
			</div>
			<div class="field col-12 md:col-4 "></div>

		</div>
	</div>



</form>

<!-- <app-garantie-pop-up [visible]="visible"></app-garantie-pop-up> -->

<p-dialog header="Ajouter une Garantie" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem'}">
	<form [formGroup]="GarantieForm" class="grid">
		<div class="flex align-items-center gap-3 mb-3">
			<label for="nature" class="font-semibold w-6rem">Nature</label>
			<p-dropdown [options]="natureGarantieDropdownItems" optionLabel="name" optionValue="value" placeholder="Choisir"
				formControlName="nature" [autoDisplayFirst]="false"></p-dropdown>
				<div *ngIf="GarantieForm.get('nature')?.invalid && GarantieForm.get('nature')?.touched" class="error-message">
					Champ numCompte. Veuillez choisir une option.
				</div>
		</div>
		<div class="flex align-items-center gap-3 mb-5">
			<label for="type" class="font-semibold w-6rem">Type</label>
			<p-dropdown [options]="typeGarantieDropdownItems" optionLabel="name" optionValue="value" placeholder="Choisir"
				formControlName="type" [autoDisplayFirst]="false" [style]="{'width':'100%'}"></p-dropdown>
				<div *ngIf="GarantieForm.get('type')?.invalid && GarantieForm.get('type')?.touched" class="error-message">
					Champ numCompte. Veuillez choisir une option.
				</div>
		</div>
		<div class="flex align-items-center gap-3 mb-5">
			<label for="valeur" class="font-semibold w-6rem">Valeur</label>
			<input pInputText id="valeur" class="flex-auto" formControlName="valeur" autocomplete="off" required />
			<div *ngIf="GarantieForm.get('valeur')?.invalid && GarantieForm.get('valeur')?.touched" class="error-message">
				Champ numCompte. Veuillez choisir une option.
			</div>
		</div>
		<div class="flex align-items-center gap-3 mb-5">
			<label for="devise" class="font-semibold w-6rem">Devise</label>
			<p-dropdown [options]="deviseDropdownItems" optionLabel="name" placeholder="Choisir" optionValue="value"
				formControlName="devise" [autoDisplayFirst]="false"></p-dropdown>
				<div *ngIf="GarantieForm.get('devise')?.invalid && GarantieForm.get('devise')?.touched" class="error-message">
					Champ numCompte. Veuillez choisir une option.
				</div>
		</div>
		<div class="flex justify-content-end gap-2">
			<!-- <p-button label="Cancel" severity="secondary" (click)="visible = false" /> -->
			<p-button label="Cancel" severity="secondary"(click)="close()"  />
			<p-button label="Save" (click)="enregistrerGarantie() " />
		</div>
	</form>

</p-dialog>

